[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-dbext"]
	path = vim/bundle/vim-dbext
	url = git://github.com/edsono/vim-dbext.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-rake"]
	path = vim/bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/nyancat-vim"]
	path = vim/bundle/nyancat-vim
	url = git://github.com/koron/nyancat-vim.git
[submodule "vim/bundle/puppet-syntax-vim"]
	path = vim/bundle/puppet-syntax-vim
	url = https://github.com/puppetlabs/puppet-syntax-vim.git

[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-emoji"]
	path = vim/bundle/vim-emoji
	url = https://github.com/junegunn/vim-emoji.git
[submodule "vim/bundle/hotspotgc"]
	path = vim/bundle/hotspotgc
	url = git@github.com:vigevenoj/hotspotgc.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
