[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-dbext"]
	path = vim/bundle/vim-dbext
	url = git://github.com/edsono/vim-dbext.git
[submodule "vim/bundle/vim-jquery"]
	path = vim/bundle/vim-jquery
	url = git://github.com/bronson/vim-jquery.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-rake"]
	path = vim/bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
